// header + main_menu

header {
  background: $cl;
  padding: 30px 0 20px;
  @include rwd-min(768) {
    height: 95px;
    padding: 34px 0 31px;
  }
}

.logo {
  img {
    width: 119px;
    @include rwd-min(768) {width: 144px}
  }
}