// header + main_menu

header {
  background: $cl;
  height: 70px;
  padding-top: 15px;
  @include rwd-min(1025) {padding-top: 9px}
}

.logo {
  margin-left: -17px;
  @include rwd-min(1025) {margin-left: -21px}
  img {
    width: 119px;
    @include rwd-min(1025) {width: 144px}
  }
}